<!doctype html>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/leaflet.css">
<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/leaflet.js"></script>

<html lang="en">
<head meta name="viewport" content="width=device-width, initial-scale=1">

<style>
	#map { height: 360px; }
</style>

<title> Soundscout </title>
<body>
<div id="map" class="container-fluid">
</div>
</body>
</html>

<script type="text/javascript">
$(document).ready(function() {
	var mapbox_public_token = "pk.eyJ1Ijoid2lsbGNoYXJsdG9uIiwiYSI6ImNpZnZtam9ndzIzeWZ1aWtybnB6cWY5NXgifQ.P3dhlLdcH8Yxui16ICuePQ";
	var map = L.map('map').setView([44.977753,-93.2650108], 13);
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	
	{% for row in data_rows %}
		var circle = L.circle({{ data_rows[row][0][1] | gps | safe}}, 500, {
			color: 'red',
			fillColor: '#f03',
			fillOpacity: 0.5
		}).addTo(map);
		circle.bindPopup( "{{ data_rows[row][0][1] | unjson_raw }}" );
		console.log("will", {{data_rows[row][0][1] | gps | safe}})
	{% endfor %}
});

</script>
